[data-theme="dark"] {
    .left {

        background-color: #20232A;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: #FFF;
    }
    .right {

        background-color: #0D0E11;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    .offcanvas span {
        background-color: white;
    }
}
[data-theme="light"] {
    .left {

        background-color: #aab5d1;
        color:#0D0E11;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .right {

        background-color: #ffffff;
        color:#0D0E11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offcanvas span {
        background-color: #0D0E11;
    }
    
}
[data-theme="light"] input[type="text"],
[data-theme="light"] input[type="password"],
[data-theme="light"] input[type="date"],
[data-theme="light"] select {
    color: #333; /* Цвет текста для светлой темы */
    background-color: #e1e1e1;
    
}
[data-theme="light"] th{color: white}
[data-theme="dark"] input[type="text"],
[data-theme="dark"] input[type="password"],
[data-theme="dark"] input[type="date"],
[data-theme="dark"] select {
    color: #eee; /* Цвет текста для темной темы */
    
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {

    margin: 0;
    font-family: 'Courier New', Courier, monospace;

    
}
.container {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 280px 1fr;

}
.content {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
}
th {
    background-color: #3E3F45;
}
td a {
    margin: 0;
}
a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #6E44FF;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background-color: #5A37CC;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
.form-group input {
    width: 48%;
}
input[type="text"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #0D0E11;
    color: #FFF;
}
input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6E44FF;
    color: #FFF;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #5A37CC;
}
a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #6E44FF;
    color: #FFF;
    text-decoration: none;
}
a:hover {
    background-color: #5A37CC;
}
.notification {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    background-color: #4BB543;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
}
.notification.error {
    background-color: #E74C3C;
}
/* Styles for toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Round sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Styles for switch-wrapper */
.switch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    bottom: 20px; /* Отступ от нижней границы родительского контейнера */
    left: 50%;

    text-align: center;
}

.switch-label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555; /* Color of the label text */
}

/* Стили для выбора тип пользователя*/



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;

}
.hidden {
    display: none !important;
}
.grid-container label {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}
.grid-container h2 {
    grid-column: 1 / span 3;
}

/* для таблиц*/
.table-2 {
    width: 100%;
}

.table-2 thead,
.table-2 tbody,
.table-2 thead th {
    display: block;
}

.table-2 thead {
    float: left;
}

.table-2 tbody{
    overflow-x: auto;
}

.table-2 tbody tr {
    display: table-cell;
    border-right: 1px solid #ccc;
}



.table-2 td{
    display: block;
    min-height: 39.34px;
}



.table-2 {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
}


.table-2 tr {
    display: flex;
    flex-wrap: wrap;
}


.table-2 td {
    flex: 1;

}

.table-2 thead tr{
    display: flex;
    flex-direction: column;
}

/* offcanvas */

.offcanvas {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 0;
    padding: 0 0;
    top: 5px;
    left: 5px;
    background-color: transparent;
}
a.offcanvas:hover {
    background-color: transparent;
}
.offcanvas span {
    top: 19px;
    left: 8.5px;
    position: absolute;
    width: 23px;
    height: 2px;
    transition: transform .3s, opacity .3s;
}
.offcanvas span:nth-child(1) {
    transform: translateY(-10.5px);
}

.offcanvas span:nth-child(3) {
    transform: translateY(10.5px);
}

.offcanvas.open span:nth-child(1) {
    transform: rotate(-45deg) translateY(0);
    width: 25px;

}

.offcanvas.open span:nth-child(2) {
    opacity: 0;
}

.offcanvas.open span:nth-child(3) {
    transform: rotate(45deg) translateY(0);
    width: 25px;
}

/* адаптив */

@media all and (max-width: 800px) {

    .form-group {
        flex-direction: column;
        align-items: center;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;

    }
    .table-2 {
        /*grid-template-columns: 180px 1fr;*/
    }
    .offcanvas {
        display: block;
        z-index: 11;
    }
    .right {
        position: relative;
        padding-top: 45px;
    }
    .left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        z-index: 10;
        padding: 20px 20px 20px 60px !important;

    }

}
@media all and (max-width: 310px) {
    .left {
        padding: 60px 15px 15px 10px !important;
        height: 100%;
        margin: 0 0;

    }
    .left h1 {
        font-size: 10vw;
    }
    .left p {
        font-size: 6vw;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 20px;

    }
    .grid-container h2 {
        grid-column: 1 / span 1;
    }
    .table-2 {
        /*grid-template-columns: 100px 1fr;*/
    }
    /*.table-2 th, .table-2 td {*/
    /*    height: 60px;*/
    /*    padding: 0 0;*/
    /*    min-width: 31px;*/
    /*}*/
}








